
/* Accordions * **********************************************************************************************************************************************************************************************************************/

.t3up_accordion{ 
    a.accordion-button                                              {display: flex; align-content: space-between; align-items: center;}
    a.accordion-button::after,
    a.accordion-button::before                                      {display: flex; align-items: center; justify-content: center; font-family: $symbol; font-weight: normal !important; transition: all ease .3s;  font-size: calc(#{$p} * 1.5);  width: $v2; height: $v2;}
    a.accordion-button:not(.collapsed)::after                       {font-family: $symbol;}
     
    a.accordion-button::after                                       {content: 'add'; }
    a.accordion-button:not(.collapsed)::after                       {content: 'remove';}
    
    .accordion-item .accordion-header > a                           {border-top: 0; padding-left: $v05; border: 1px solid ; border-bottom: 0; }
    .accordion-item .accordion-header > a.collapsed                 {background-color: transparent;}   

    .accordion-item:first-of-type .accordion-header > a             {border-radius: 0;}
    .accordion-item:last-of-type  .accordion-header > a.collapsed   {border-bottom: 1px solid; border-radius: 0;}
    
    .accordion-item .accordion-body                                 {border-left: 1px solid; border-right: 1px solid}
    .accordion-item .accordion-body > *                             {padding-top: $v05; padding-bottom: $v05; background: none !important;}
    .accordion-item .accordion-body > .frame-text                   {padding: $v05;}
    .accordion-item .accordion-body > .frame-textmedia              {padding: $v05;}
    .accordion-item .accordion-body > * > *:last-of-type            {margin-bottom: 0;;}
    

    .accordion-item .accordion-body > * > h2,
    .accordion-item .accordion-body > * > h3,
    .accordion-item .accordion-body > * > h4                        {display: none !important;}
     
    .accordion-item .accordion-body .ce-bodytext > h2,
    .accordion-item .accordion-body .ce-bodytext > h3,
    .accordion-item .accordion-body .ce-bodytext > h4               {display: none !important;}
    
    &.rounded {
         .accordion-item:first-of-type .accordion-header >a         {border-radius: $v02 $v02 0 0;}
         .accordion-body                                            {border-radius: 0 0 $v02 $v02; margin-bottom: $v1; border-bottom: 1px solid}
    }
    
     &.minimal {
         .accordion-item                                            {border: 0;}
         .accordion-body                                            {margin-bottom: $v1; border: 0;}
         .accordion-body >.frame-text                               {padding-left: 0; padding-right: 0; }
         .accordion-item .accordion-header > a                      {border-top: 0; padding: 0; border: 0; border-bottom: 1px solid}
         a.accordion-button::after,
         a.accordion-button::before                                 {width: auto;}

    }
       
    
}



.frame-accordion.frame-white{										padding: 0; background-color: transparent;
	.t3up_accordion													{background-color: $white;}
}



.frame-singleaccordion  {opacity: 0;}
.frame-singleaccordion .accordion-header .accordion-button  {}
.frame-singleaccordion .accordion-header .accordion-button h2,
.frame-singleaccordion .accordion-header .accordion-button h3 {margin: 0;}
.frame-singleaccordion .t3up_accordion.accordionstyle-1 a.accordion-button::after {}

@media screen and (max-width: 581px){
         .accordion-item .accordion-header > a                      {padding-left: $v05;}
}