

.t3up_tabulator    {
    .tab-content .tab-pane > *                                {background: none;}
    .tab-content .tab-pane > *                                {padding: 0; border: 0 !important; margin-bottom:0;}
}
    
.t3up_tabulator.owntab{
    .tab-content .tab-pane > * > h2,
    .tab-content .tab-pane > * > h3,
    .tab-content .tab-pane > * > h4                           {display: none !important;}
}
    
.t3up_tabulator{
    .nav-item                                                 {margin-bottom: -1px; cursor: pointer;}
    .nav-link.active                                          {border-color: rgba(0,0,0,.2) rgba(0,0,0,.2) $white rgba(0,0,0,.2);}
    .tab-content                                              {padding: $v05; background-color: $white; border-radius: 0 0 $v02 $v02; border: 1px solid rgba(0,0,0,.2); background-color: $white;}
}

