<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
    <f:layout name="Default"/>
    
    <f:section name="Main">
        <div class="row w-100 {f:if(condition: flexFormData.padding, then: 'padding{flexFormData.padding}')} {f:if(condition: flexFormData.spacing, then: 'spacing{flexFormData.spacing}')} {f:if(condition: data.layout, then: '{data.layout}')} {f:if(condition: flexFormData.halign, then: '{flexFormData.halign}')} {f:if(condition: flexFormData.valign, then: '{flexFormData.valign}')}">
            <f:if condition="{childrenLeft}">
                <f:then>
                    <div class="col {flexFormData.Col1} {flexFormData.mdCol1} {flexFormData.lgCol1} {flexFormData.col21class}">
                        <f:for each="{childrenLeft}" as="child">
                            <f:format.raw>{child.renderedContent}</f:format.raw>
                        </f:for>
                    </div>
                </f:then>
                <f:else>
                    <div class="col {flexFormData.Col1} {flexFormData.mdCol1} {flexFormData.lgCol1} {flexFormData.col21class}">
                    </div>
                </f:else>  
            </f:if>
            <f:if condition="{childrenRight}">
                <f:then>            
                <div class="col {flexFormData.Col2} {flexFormData.mdCol2} {flexFormData.lgCol2} {flexFormData.col22class}">
                    <f:for each="{childrenRight}" as="child">
                        <f:format.raw>{child.renderedContent}</f:format.raw>
                    </f:for>
                </div>
                </f:then>
                <f:else>    
                    <div class="col {flexFormData.Col2} {flexFormData.mdCol2} {flexFormData.lgCol2} {flexFormData.col22class}">
                    </div>                
                </f:else>                              
            </f:if>  
        </div>
    </f:section>    
</f:spaceless>
</html>
