<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:layout name="Default"/>

	<f:section name="Main">
	
		<f:variable name="bg" value="background-color:{data.pi_flexform.bgcolor};" />			
		<f:variable name="bc" value="border-color:{data.pi_flexform.bordercolor};" />	
		<f:variable name="bo" value="border-style:solid; border-width:{data.pi_flexform.border}px;" />	

		<div class="containerbuttons flex-wrap format{data.pi_flexform.format} Item{data.pi_flexform.items} d-flex w-100 align-items-stretch">	
		
			<f:for each="{childrenContent}" as="child" iteration="iterator">
				<div class="containerbutton round{data.pi_flexform.round}">
					<div class="containerbuttonInnen w-100 h-100" style="{bg} {bc} {bo}" >
					 	<f:format.raw>{child.renderedContent}</f:format.raw>
					 </div>
				</div>
			</f:for>
		</div>	
	</f:section>		

</html>