<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

	<f:variable name="cl" value="color:{data.pi_flexform.color} !important;" />		
	<f:variable name="hs" value="h{data.pi_flexform.headersize}" />
	
    <div id="c{data.uid}" class="frame-{data.CType} align-self-{data.pi_flexform.valign} w-100 text-{data.pi_flexform.textalign}" >
        <f:link.typolink parameter="{data.header_link}">
          	<span class="d-block {hs} m-0 p-3" style="{cl}"><f:format.nl2br>{data.header}</f:format.nl2br></span>
        </f:link.typolink>
    </div>
</html>
