<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <div id="c{data.uid}" class="frame-{data.CType} w-100" >

	        <f:if condition="{data.header_layout} != 100">
	          	<span class="d-block h3 m-0 p-3"><f:format.nl2br>{data.header}</f:format.nl2br></span>
	         </f:if> 	
        	<f:format.nl2br><p class="m-0 px-3">{data.bodytext}<p></f:format.nl2br>
        <f:link.typolink parameter="{data.header_link}"><span class="arrowtile"></span></f:link.typolink>
    </div>
</html>
